body {}

header {
  background-color: wheat;
  padding: 2;
  margin: 0; 
  line-height: 1; 
  border-width: medium;
  border-style: dotted;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 15px;
}


