html * {
font-family: cambria
}

header {
  background-color: #c9af98;
  padding: 2px;
  margin: 0; 
  line-height: normal;
  border-width: medium;
  border-style: dotted;
}

h1 {
  font-size: 50px;
  padding-left: 10px;
}

h2 {
  font-size: 21px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

h3 {
  font-size: 15px;
}


